* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: 'Lora', serif;
    scroll-behavior: smooth; /* Pour le back to top */
        
}

#page_principale{    
    background-image : radial-gradient(rgb(139, 195, 245), #1294b8);    
}

p{
    font-family: 'Dosis', sans-serif;
    font-size: 1.56em;
    color : #363636;   
    margin : 30px 0px;     
}



/*------------- MISE EN PAGE DU HEADER CONTENANT LE MENU -------------------------- */


/* Mise en flex des éléments du header soit le logo de gauche, le menu et les logos réseaux sociaux */
#header_home{
    display : flex;    
    justify-content: space-around; /*Centre horizontalement les elts menu avec de l'espace entre le bord de l'écran et les elts*/
    align-items: center;     
}

/*  Taille de la grenouille en PX car c'est un logo moyen qui doit rester à sa taille.*/
#frog{
    width : 150px;
    margin-left : 150px;   
}

/* Mise en flex row du menu */
ul{
    display : flex;   
}

/* Retrait des puces et léger margin autour de chaque lien pour la clarté */
li{
    font-family: 'Space Grotesk', sans-serif;
    color : white;
    font-size: 1.25em;
    list-style-type: none;
    margin-left : 20px;
    margin-right : 20px;
}

a{
    text-decoration: none; /* Retrait dy style des liens (underline) */
    color: inherit; /* Récupération du style classique*/
    transition: 0.5s; /*Transition avant et après le hover*/
}



.logo-header { /*Logos font awesome avec une transition pour le changement de couleur*/
    color : white;
    font-size: 1.50em;
    transition: 0.5s;    
}

a:hover, .logo-header:hover{
    color : #fbd17e;    
}


/*---------------- SECTION 1 : ACCUEIL -------------------------------------------------*/


/* Mise en flex row pour la disposition des blocs l'un à côté de l'autre et centré verticalement */
#accueil{
    display: flex;
    justify-content: space-around; /*Centre horizontalement les elts menu avec de l'espace entre le bord de l'écran et les elts*/
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 200px;
    margin-top : 50px;
}

/* Taille du logo avec le chat sur l'ordinateur */
#cat{
    max-width : 50%;
    padding : 0 50px;
}

/*-Paragraphe présentation et partie suscribtion */

#presentation{
    width : 400px;
    text-align: justify;    
}

h1{
    font-size: 3em;
    font-weight: bold;
    color : #363636;
    font-weight : bold;
    margin : 30px 0px;    
}

/* Bloc contenant le mailfield et le bouton. C'est lui qui a le background color pour
simuler que le bouton se situe dans le formulaire de mail */
form{
    background-color : #DFECF4;
    display : flex;
    justify-content: space-between;
    border-radius : 30px;
}


/* Formulaire pour le mail. le fond est transparent */
#mailField{
    font-family: 'Space Grotesk', sans-serif;
    color : rgb(172, 171, 171);
    font-weight: bold;
    width : 200px;
    height : 50px;
    text-align: center;
    background-color: #1294b800;    
    border : none;    
}


/*Retrait de la bordure automatique quand on clique sur l'inputfield*/
input:focus{
    outline : none;
}


/* Bouton "suscribe" Retrait de la bordure */
#btn1{
    color : white;
    font-weight: bold;
    width : 150px;
    background-color: #318eb0;
    border : none;
    border-radius: 30px;
    margin-right : 5px;
    margin-top : 5px;
    margin-bottom : 5px;
    transition: 0.5s;
}

#btn1:hover{
    background-color: #62b4d3;

}


/* -------------------------------------- SECTION 2, OUR PRODUCTS------------------------------- */


#section2{
    display : flex;
    flex-direction: column;
    align-items: center;   
}

h2{
    font-size : 2.2em;
    font-weight: bold;  
}

.paragraph_sec2{
    color:white;
    font-size : 1.3em;
    margin : 40px 10px;
}

.titleProducts{
    margin-top : 50px;
    margin-bottom: 50px;
    text-align: center; /*Centrage du titre et du petit paragraphe en dessous*/ 
}

.productsView{
    display : flex; /*Le but est d'aligner les 3 box */
}

.logoProduct{
    margin-bottom: 20px;
}

/* Classe products qui correspond à chaque carré  */
.product{
    height : 400px;
    width : 400px;    
    color : white;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    background-image : radial-gradient(rgb(139, 195, 245), #1294b8);  
    border-radius: 15px;        
    text-align: center;  
    margin : 50px 20px 250px 20px;
    transition: margin-top 1.3s ease-out;
    /* Bouge la box en modifiant le margin top. Ici on va le réduire pour donner la sensation
    que la box monte */    
}


.product:hover{
    margin-top : 10px; /* Au hover, le margin passe de 50px à 10px en 1.3 seconde */
}



/* -------------------- SECTION 3 HOW IT WORKS---------------------------------- */



#section3 {
    padding-top : 50px;
    background-color: #eceaea;    
    min-height: 70vh; /*La taille de la section s'adapte à ce qui est visible à l'écran et prend donc 100% de la taille visible à l'écran*/
}



/* ----------------------------------SECTION 4 : MEMBRES DE L'EQUIPE --------------------*/

#section4{
    padding-top : 50px;
    display : flex;
    flex-direction: column;        
    min-height: 100vh;
}

/* Paragraphe sur l'équipe */

#team{
    text-align: center;
    padding : 0 30%;    
}


#members{
    display : flex;
    justify-content: space-around;
    text-align: center;    
    padding : 60px 0;
}

.profilMember{
    display: flex;
    flex-direction: column;
    align-items: center;  
    
}

.zoom {    
    overflow: hidden;
    height : 200px;
    width : 200px;
    border-radius: 100px;    
    margin : auto auto;
}  

/*.photo correspond à la taille de la photo. Imgzoom c'est la div dans laquelle est la photo. Les deux doivent être de la 
    même taille pour que le hover fasse effet.*/

.photo{
    height : 200px;
    width : 200px;
    
    border-radius: 100px;
    transition : transform .5s ease; 
    filter: grayscale(1); /*Permet de mettre l'image en gris*/
    /*La propriété transition se met sur la photo*/    
}   

.hover-logo:hover .photo{
    transform: scale(1.1);   /*C'est un argument d'échelle. Au hover on zomme de 1.1 la taille initiale de .photo.*/
    filter: grayscale(0); /*Au hover, on met l'image en couleur classique*/   
}

b{
    font-size: 2em;    
    margin : 20px 0px;
}

.p4b{
   
    margin : 0 0;
    
}

/* Les petits sous titres au dessus des photos */

h4{     /* Les chiffres de la team */
    font-size: 2.5em;
    margin-top : 50px;
}



.logo-member{
   
    display : flex;
    flex-direction: column;
    position : relative;
    left : -20px;    
    top : 60px;
    z-index: 1;
    transition: 0.5s;   
    opacity : 0;     
    width : 20px;
    height : 20px;
    
}

.border-logo{
    transition: 0.5s; /*Transition avant et après le hover*/    
}

.hover-logo:hover .logo-member{

    left : 20px;
    top : 80px;
    z-index: 1;
    opacity : 1;

}

.logo-link{
    text-align: right;
    padding : 3px 0px;
}


/* ------------------------------- SECTION 5   LETS GET STARTED----------------------- */


#section5 {    
    color : white;
    display : flex;
    
    flex-direction: column;    
    text-align: center;  
    background-image : url("img/parallax.png"); 
    background-repeat: no-repeat;   
    background-attachment: fixed; /*Permet l'effet de scroll*/  
    
}

.text_sec5{
    color : white;
    margin-bottom : 20px;    
}

#start{
    
    background-color: rgba(0, 0, 0, 0.5);    
    display: flex;
    flex-direction: column;
    padding-top : 70px;    
    align-items: center; /*Centre horizontalement */  
    min-height: 50vh;
  
}


#btn2{ /*Le bouton get started*/
    width : 150px;
    height : 70px;
    border : 2px solid white;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0); /*Transparence du background du bouton */
    color : white;
    margin-top : 20px;
    font-weight: bold; 
    transition : 0.5s;     
}

#btn2:hover {
    background-color: rgb(255, 255, 255);
    color : black;    
    margin-top : 15px; 
}


/* ---------------SECTION 6 WHAT YOUR CLIENT SAID -------------------------------- */

#section6{
    padding-top : 50px;
    background-color: #eceaea;
    display : flex;
    flex-direction: column;   
    align-items: center;
    text-align: center;
    min-height : 70vh;
}

.marques{
    width : 130px;
    margin : 60px;
    opacity : 50%;
    transition : 0.5s;
}

.marques:hover{
    opacity: 100%;
}


#logo_clients{
    display : flex;
    justify-content: space-around;
}



/* --------------- SECTION 7 WE ARE DIGITAL LANDING PAGE---------------- */


#section7{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 60px;
    min-height : 80vh;    
}

#div_sec7{
    display : flex;
    flex-direction: column;   
}

#creativity{
    max-width: 40%;  
    padding : 40px;    
}

#score {
    display: flex;
    flex-direction: row;    
    align-items: center;    
}

.scoreChiffres{
    margin-right : 30px;
}

#learnmoreBtn{
    font-size : 1.2em;
    color : white;
    width : 170px;
    height : 50px;
    border : none;
    border-radius: 5px;
    background-color: #3F8EFD;
}


/*--------------------- SECTION 8 PRICING -----------------------*/


#section8{
    background-color: rgba(194, 194, 194, 0.548);
    display : flex;
    flex-direction: column;
    align-items: center;  
}

.span-sec8{
    color : #3F8EFD;
    font-size: 2em;
    font-weight: bold;
}

.price{
    
    height : 570px;
    width : 400px;    
    color : rgb(0, 0, 0);
    display : flex;
    flex-direction: column;    
    /* align-items: center; */
    background-color: white;  
    border-radius: 15px;        
    text-align: center;  
    margin : 50px 20px 250px 20px;
    transition: margin-top 1.3s ease-out;
    padding-top : 20px;
    padding-bottom: 20px;   
}



.sale{
    position : relative;
    height : 570px;
    width : 400px;    
    color : rgb(0, 0, 0);
    display : flex;
    flex-direction: column;    
    /* align-items: center; */
    background-color: white;  
    border-radius: 15px;        
    text-align: center;  
    margin : 20px 20px 250px 20px;
    transition: margin-top 1.3s ease-out;
    padding-top : 20px;
    padding-bottom: 20px; 
}

.percentage{
    position : absolute;
    width : 70px;
    height : 70px;    
    background-color : #3F8EFD;
    padding : 13px 10px;
    color : white;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    right : 0px;
    top : 0px;       
   
}



.featuresPerPack{
    color : black;
    display : flex;
    justify-content: space-between;    
}

.joinNowBtn{    
    font-size : 1.2em;
    color : white;
    width : 170px;
    height : 50px;
    border : none;
    border-radius: 5px;
    background-color: #3F8EFD;
    margin : auto;    
}

.leftColumn{
    padding-left : 20px;
    text-align : left;
}

.rightColumn{
    padding-right : 20px;
    text-align : right;
}

/*--------------------- SECTION 9 OUR BLOGS -----------------------*/

.main-sec9{
    min-height: 60vh;
    display : flex;
    justify-content: space-evenly;    
}

.img-sec9{
    border-radius: 10px;
    width : 400px;
    height : 300px;
    margin-bottom: 20px;
    transition : 0.5s;
}




.p-sec9{    
    font-size : 1.3em;
    width : 400px;    
}

.blog-effects{
    
    position : relative;
      
    height : 300px;
    width : 400px;
    border-radius: 15px;
    background-color: black;
    margin-bottom: 15px;
    

}


.blog-text {
    z-index: 1;
    color : rgb(255, 255, 255);  
    position : absolute;
    top : 10px;
    left : 10px;
    opacity : 0;
    transition : 0.5s;
    
}

.img-sec9:hover{

    filter: opacity(60%);   

}

.blog-effects:hover .blog-text{

    opacity : 1;

}



/*--------------------- FOOTER -----------------------*/

.border-footer:hover{

    border : 1.5px solid #fbd17e;   
    
}

footer{
    min-height : 20vh;
    display : flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: space-evenly;
    background-color: #363636;
    color :#999999;
}

.span-footer{
    margin-left : 15px;
    margin-right : 15px;
}

.border-footer{
    border : 1.5px solid #999999;
    border-radius : 100px;
    padding : 10px 13px;
    margin : auto 20px;
    transition: 0.5s; /*Transition avant et après le hover*/    
}

.logo-footer{
    
    width : 15px;
    height : 20px;
    filter: invert(65%) sepia(0%) saturate(0%) hue-rotate(330deg) brightness(94%) contrast(92%); /* Permet d'obtenir la couleur voulue via https://codepen.io/sosuke/pen/Pjoqqp */

}

#logos-footer{
    display : flex;
    justify-content: center;
    align-items: center;
}

/* SCROLL TO TOP BTN */

.top {    

    place-self:end;
    text-decoration: none;
    padding: 20px;
    margin-right : 20px;
    width : 25px;
    height : 25px;   
    background: #646060;
    border-radius: 100px;
    float : right;
    position: sticky;
    bottom: 20px; 
    box-sizing: content-box;
  
  }

  #top-img{
    filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(265deg) brightness(110%) contrast(102%); /*Couleur de la flèche*/
    width : 25px;
    height : 25px;
  }

   
/*///////////////////////////////////////////////////////////////////////////*/
/* --------------------------- FORMAT TABLETTE -------------------------*/
/*///////////////////////////////////////////////////////////////////////////*/


@media only screen and (max-width: 900px) {


/*---------------- SECTION 1 : ACCUEIL -------------------------------------------------*/

/* ---------------------------- SECTION 2, OUR PRODUCTS------------------------------- */


/* -------------------- SECTION 3 HOW IT WORKS---------------------------------- */


/* ------------------------SECTION 4 : MEMBRES DE L'EQUIPE --------------------*/

#members{
    flex-direction: column;
}

/* ---------------------- SECTION 5   LETS GET STARTED----------------------- */


/* ---------------SECTION 6 WHAT YOUR CLIENT SAID -------------------------------- */


/* --------------- SECTION 7 WE ARE DIGITAL LANDING PAGE---------------- */

/*--------------------- SECTION 8 PRICING -----------------------*/

/*--------------------- SECTION 9 OUR BLOGS -----------------------*/

/*--------------------- FOOTER -----------------------*/


}





/*///////////////////////////////////////////////////////////////////////////*/
/* --------------------------- FORMAT TEL PORTABLE -------------------------*/
/*///////////////////////////////////////////////////////////////////////////*/



/* Media querie pour un tel portable. Le but n'est pas de recopier le CSS mais de simplement indiquer les changements. Utiliser l'inspecteur pour check. */

@media only screen and (max-width: 670px) {

    /*---------------- SECTION 1 : ACCUEIL -----------------------------------------*/
#frog {
    display : none;
}

#cat{
    display: none;
}
#page_principale{
    width : 100vh;
}

ul{
    flex-wrap: wrap;
    justify-content: center;
}

li{
    margin-left : 5px;
    margin-right : 5px;
}



#header_home {   
    flex-direction: column;
    border-top : 1px solid white;
    border-bottom : 1px solid white;
    padding : 5px 20px;
}


a{
    font-weight: bold;
    font-size: 1.5em;
}


    /* -------------- SECTION 2, OUR PRODUCTS------------------------------- */

.productsView {    
    flex-direction: column-reverse;
}

#section2{
    width: 100vh;
}

/* -------------- SECTION 3 HOW IT WORKS---------------------------------- */

#section3{
    width: 100vh;
}

/* ------------------SECTION 4 : MEMBRES DE L'EQUIPE --------------------*/

#section4{
    width: 100vh;
}

/* ----------------------- SECTION 5   LETS GET STARTED----------------------- */

#section5{
    width: 100vh;
}

/* ---------------SECTION 6 WHAT YOUR CLIENT SAID -------------------------------- */

#section6{
    width: 100vh;
}

#logo_clients{
    display:block;
}

/* --------------- SECTION 7 WE ARE DIGITAL LANDING PAGE---------------- */

#section7{
    width: 100vh;
}

/*--------------------- SECTION 8 PRICING -----------------------*/

#section8{
    width: 100vh;
}

/*--------------------- SECTION 9 OUR BLOGS -----------------------*/

#section9{
    width: 100vh;
}
.main-sec9{
    flex-direction: column;    
    align-items: center;
}

/*--------------------- FOOTER -----------------------*/

footer{
    width : 100vh;
}







   

    

    
   

    


   

    
        
 } 