* {
    box-sizing: border-box;
    vertical-align: top;
    font-family: 'Lora', serif;
}

#wrapper1{
    margin : 0;
    padding : 0;
    background-image : radial-gradient(rgb(139, 195, 245), #1294b8);    
}


/*------------- MISE EN PAGE DU HEADER CONTENANT LE MENU -------------------------- */


/* Mise en flex des éléments du header soit le logo de gauche, le menu et les logos réseaux sociaux */
header{
    display : flex;    
    justify-content: space-around; /*Centre horizontalement les elts menu avec de l'espace entre le bord de l'écran et les elts*/
    align-items: center;    
}

/*  Taille de la grenouille */
#frog{
    width : 150px;    
}

/* Mise en flex row du menu */
ul{
    display : flex;   
}

/* Retrait des puces et léger margin autour de chaque lien pour la clarté */
li{
    font-family: 'Space Grotesk', sans-serif;
    color : white;
    font-size: 20px;    
    list-style-type: none;
    margin-left : 20px;
    margin-right : 20px;
}

a{
    text-decoration: none; /* Retrait dy style des liens (underline) */
    color: inherit; /* Récupération du style classique*/
    transition: 0.5s; /*Transition avant et après le hover*/
}

a:hover{
    color : #fbd17e;    
}



/*---------------- SECTION 1 : ACCUEIL --------------------*/


/* Mise en flex row pour la disposition des blocs l'un à côté de l'autre et centré verticalement */
#accueil{
    display: flex;
    justify-content: space-around; /*Centre horizontalement les elts menu avec de l'espace entre le bord de l'écran et les elts*/
    align-items: center;
    margin-bottom: 150px;
    padding-bottom: 120px;
}

/* Taille du logo avec le chat sur l'ordinateur */
#cat {
    width : 600px;
}

/*--------------- Paragraphe présentation et partie suscribtion ----------------------*/

#presentation{
    width : 400px;
    text-align: justify;
}

h1{
    font-size: 50px;
    font-weight: bold;
    color : #363636;
    font-weight : bold;
}

p{
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    color : #363636;    
}


/* Bloc contenant le mailfield et le bouton. C'est lui qui a le background color pour
simuler que le bouton se situe dans le formulaire de mail */
form{
    background-color : #DFECF4;
    display : flex;
    justify-content: space-between;
    border-radius : 30px;
}


/* Formulaire pour le mail. le fond est transparent */
#mailField{
    font-family: 'Space Grotesk', sans-serif;
    color : rgb(172, 171, 171);
    font-weight: bold;
    width : 200px;
    height : 50px;
    text-align: center;
    background-color: #1294b800;    
    border : none;    
}


/*Retrait de la bordure automatique quand on clique sur l'inputfield*/
input:focus{
    outline : none;
}


/* Bouton "suscribe" Retrait de la bordure */
#btn1{
    color : white;
    font-weight: bold;
    width : 150px;
    background-color: #318eb0;
    border : none;
    border-radius: 30px;
    margin-right : 5px;
    margin-top : 5px;
    margin-bottom : 5px;
    transition: 0.5s;
}

#btn1:hover{
    background-color: #62b4d3;

}


/* ------------------- SECTION 2, OUR PRODUCTS---------------- */

/* Section 2 */
#productFeatures{

    display : flex;
    flex-direction: column;
    align-items: center;

}

#titleProducts{

    text-align: center; /*Centrage du titre et du petit paragraphe en dessous*/ 

}

#productsView{

    display : flex; /*Le but est d'aligner les 3 box */

}

/* Classe products qui correspond à chaque carré  */
.products{

    height : 350px;
    width : 350px;    
    display : flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 15px;    
    color : white;
    background-image : radial-gradient(rgb(139, 195, 245), #1294b8); 
    text-align: center;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-top : 50px;
    

    padding-bottom: 120px;
    padding-top : 30px;

    transition: margin-top 1s ease; 
    
    /* Bouge la box en modifiant le margin top. Ici on va le réduire pour donner la sensation
    que la box monte */
    
}

.products:hover{
    margin-top : 10px; /* Au hover, le margin passe de 50px à 10px en 1 seconde */
}

.article {
    color : white;
}